<?xml version="1.0" encoding="utf-8"?>
<cachingConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching">
    <enterpriseLibrary.cacheSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultCacheManager="Default Cache Manager" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/cache">
      <cacheManagers>
        <cacheManager name="Default Cache Manager" expirationPollFrequencyInSeconds="600" maximumElementsInCacheBeforeScavenging="50000" numberToRemoveWhenScavenging="1000">
          <cacheStorage xsi:type="CustomCacheStorageData" name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching">
            <extensions />
          </cacheStorage>
        </cacheManager>
        <cacheManager name="Loading Scenario Cache Manager" expirationPollFrequencyInSeconds="600" maximumElementsInCacheBeforeScavenging="50000" numberToRemoveWhenScavenging="1000">
          <cacheStorage xsi:type="CustomCacheStorageData" name="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching">
            <extensions />
          </cacheStorage>
        </cacheManager>
      </cacheManagers>
    </enterpriseLibrary.cacheSettings>
  </xmlSerializerSection>
</cachingConfiguration>