\Indico\Web.config
\Indico\bin\
\Indico\obj\
\IndicoData\

\IndicoBusinessObjects\obj\
\IndicoBusinessObjects\bin\


\IndicoService\Web.config
\IndicoService\bin\
\IndicoService\obj\

\packages\

\Deployment\