<table cellpadding="10">
    <tr>
        <td>
            <table border="0" cellpadding="3" cellspacing="1" width="100%" style="font-size: 8px;
                line-height: 340px;">
                <tr>
                    <td align="left" width="50%">
                        Measurements in <$type$>
                    </td>
                    <td align="right" width="50%">
                        Tolerance +/- <$type$>
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="3" cellspacing="1" width="100%" style="font-size: 8px;
                line-height: 8px; vertical-align: middle;">
                <tr>
                    <td align="center" bgcolor="#CCCCCC" style="background-color: #CCCCCC; font-weight: bold;
                        width: 250px; text-align: left;">
                    </td>
                    <$measurementposition$>
                </tr>
                <$records$>
            </table>
        </td>
    </tr>
</table>
