<table cellpadding="17">
    <tr>
        <td>
            <table cellpadding="0" style="font-size: 8px">
                <tr>
                    <td style="line-height: 48px;">&nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table>
                                        <tr>
                                            <td align="left" scope="row" valign="top">Cost Sheet Number
                                            </td>
                                            <td><$costsheetid$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Pattern
                                            </td>
                                            <td><$patternnumber$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Main Fabric
                                            </td>
                                            <td><$mainfabric$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table>
                                        <tr>
                                            <td align="left" scope="row">Modified Date
                                            </td>
                                            <td><$modifieddate$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Modifier
                                            </td>
                                            <td><$modifier$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 12px;">&nbsp;
                    </td>
                </tr>
                <$pricedetails$>
                <tr>
                    <td style="line-height: 12px;">&nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0" width="100%" style="font-size: 6px;">
                            <tr align="left" valign="middle">
                                <td valign="top" width="20%">
                                    <table cellpadding="3" cellspacing="0" border="0.5" width="75%">
                                        <tr>
                                            <td style="line-height: 4px;" align="left" scope="row" width="50%" valign="top">Total Fabrics Cost
                                            </td>
                                            <td style="line-height: 4px;" width="25%">$<$totalfabriccost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" align="left" scope="row" width="50%" valign="top">Total Accessories Cost
                                            </td>
                                            <td style="line-height: 4px;" width="25%">$<$totalaccessorycost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" align="left" scope="row" width="50%" valign="top">Heat Press OH
                                            </td>
                                            <td style="line-height: 4px;" width="25%">$<$totalhpcost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" align="left" scope="row" width="50%" valign="top">Label Cost
                                            </td>
                                            <td style="line-height: 4px;" width="25%">$<$totallabelcost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" align="left" scope="row" width="50%" valign="top">Packing/threads/etc
                                            </td>
                                            <td style="line-height: 4px;" width="25%">$<$othercost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" align="left" scope="row" width="50%" valign="top">Wastage (<$wastage$> %)
                                            </td>
                                            <td style="line-height: 4px;" width="25%">$<$subwastage$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" align="left" scope="row" width="50%" valign="top">Finance Cost (<$finance$> %)
                                            </td>
                                            <td style="line-height: 4px;" width="25%">$<$subfinance$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" align="left" scope="row" width="50%" valign="top">CM (<$smv$> mins x $ <$smvrate$>)
                                            </td>
                                            <td style="line-height: 4px;" width="25%">$<$cm$> 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" align="left" scope="row" width="50%" valign="top">Total FOB Cost
                                            </td>
                                            <td style="line-height: 4px;" width="25%">$<$fobcost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" align="left" scope="row" width="50%" valign="top">Quoted FOB
                                            </td>
                                            <td style="line-height: 4px;" bgcolor="#FFFF00" width="25%">$<$quotedFOB$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top" width="25%">
                                    <table cellpadding="3" cellspacing="0" border="0.5" width="80%">
                                        <tr>
                                            <td style="line-height: 4px;" width="30%">Sub Consumption
                                            </td>
                                            <td style="line-height: 4px;" width="50%"><$subconsumption$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="30%">Duty Rate
                                            </td>
                                            <td style="line-height: 4px;" width="50%"><$dutyrate$>%
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="30%"><$costfactor1name$>
                                            </td>
                                            <td style="line-height: 4px;" width="50%">
                                                <table cellpadding="3" cellspacing="3" width="90%" bordercolor="#ffffff" border="0">
                                                    <tr>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%"><$cost11$>
                                                        </td>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%"><$cost12$>
                                                        </td>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%">$<$cost13$>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="30%"><$costfactor2name$>
                                            </td>
                                            <td width="50%">
                                                <table cellpadding="3" cellspacing="0" width="90%" bordercolor="#ffffff" border="0">
                                                    <tr>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%"><$cost21$>
                                                        </td>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%"><$cost22$>
                                                        </td>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%">$<$cost23$>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="30%"><$costfactor3name$>
                                            </td>
                                            <td style="line-height: 4px;" width="50%">
                                                <table cellpadding="3" cellspacing="0" width="90%" border="0" bordercolor="#ffffff">
                                                    <tr>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%"><$cost31$>
                                                        </td>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%"><$cost32$>
                                                        </td>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%">$<$cost33$>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="30%">Ink
                                            </td>
                                            <td style="line-height: 4px;" width="50%">
                                                <table cellpadding="3" cellspacing="0" width="70%" border="0" bordercolor="#ffffff">
                                                    <tr>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%"><$ink$>
                                                        </td>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="40%">$<$inkrate$>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="30%">Paper
                                            </td>
                                            <td width="50%">
                                                <table cellpadding="3" cellspacing="0" width="60%" border="0">
                                                    <tr>
                                                        <td bordercolor="#ffffff" bgcolor="#F0F0F0" style="line-height: 4px;" width="30%"><$papaer$>
                                                        </td>
                                                        <td bordercolor="#ffffff" bgcolor="#F0F0F0" style="line-height: 4px;" width="30%">$<$paperrate$>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top" width="25%">
                                    <table cellpadding="3" cellspacing="0" width="90%" border="0.5">
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Exch Rate
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$exchrate$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">FOB (AUD)
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$fobaud$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Duty
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$duty$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="50%">Cost 1
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$cost1$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Cost 2
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$cost2$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Cost 3
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$cost3$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Ink + 2%
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$inkcost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Paper + 2%
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$papercost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Airfreight
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$airfreight$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Imp Charges
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$impcharges$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Mgt OH
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$mgtoh$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Indico OH
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$indicooh$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Depr
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$depr$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Landed
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$landed$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">CIF ( <$marginrate$> % )
                                            </td>
                                            <td style="line-height: 4px;" width="50%">
                                                <table cellpadding="3" cellspacing="0" width="100%" border="0">
                                                    <tr>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%">$<$cif$>
                                                        </td>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%">$<$margin$>
                                                        </td>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="40%"><$mp$>%
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Quoted CIF ( <$marginrate$> % )
                                            </td>
                                            <td style="line-height: 4px;" width="50%">
                                                <table cellpadding="3" cellspacing="0" width="100%" border="0">
                                                    <tr>
                                                        <td bgcolor="#FFFF00" style="line-height: 4px;" width="30%">$<$quotedcif$>
                                                        </td>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="30%">$<$quotedmargin$>
                                                        </td>
                                                        <td bgcolor="#F0F0F0" style="line-height: 4px;" width="40%"><$quotedmp$>%
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">FOB Factor
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$fobfactor$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 4px;" width="40%">Quoted FOB
                                            </td>
                                            <td style="line-height: 4px;" width="50%">$<$quotedfob$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%">
                        <table width="100%" style="font-size: 6px;">
                            <tr>
                                <td width="50%" style="font-size: 10px;">Factory Remarks
                                </td>
                                <td width="50%" style="font-size: 10px;">Indiman Remarks
                                </td>
                            </tr>
                            <tr>
                                <td width="50%" valign="top" style="font-size: 6px;"><$factoryremarks$>
                                </td>
                                <td width="50%" valign="top" style="font-size: 6px;"><$indimanremarks$>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 12px;">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td><$images$>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
