<table cellpadding="17">
    <tr>
        <td>
            <table cellpadding="0" style="font-size: 8px">
                <tr>
                    <td style="line-height: 48px;">
                        &nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table>
                                        <tr>
                                            <td align="left" scope="row" valign="top">
                                                Cost Sheet Number
                                            </td>
                                            <td>
                                                <$costsheetid$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">
                                                Pattern 
                                            </td>
                                            <td>
                                                <$patternnumber$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">
                                                Main Fabric
                                            </td>
                                            <td>
                                                <$mainfabric$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table>
                                        <tr>
                                            <td align="left" scope="row">
                                                Modified Date
                                            </td>
                                            <td>
                                                <$modifieddate$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">
                                                Modifier
                                            </td>
                                            <td>
                                                <$modifier$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 12px;">
                        &nbsp;
                    </td>
                </tr>
                <$pricedetails$>
                <tr>
                    <td style="line-height: 12px;">
                        &nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0" width="100%">
                            <tr align="left" valign="middle">
                                <td valign="top" width="40%">
                                    <table border="0.5">
                                        <tr>
                                            <td align="left" scope="row" valign="top">
                                                Total Fabrics Cost
                                            </td>
                                            <td>
                                                $<$totalfabriccost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row" valign="top">
                                                Total Accessories Cost
                                            </td>
                                            <td>
                                                $<$totalaccessorycost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row" valign="top">
                                                Heat Press OH
                                            </td>
                                            <td>
                                                $<$totalhpcost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row" valign="top">
                                                Label Cost
                                            </td>
                                            <td>
                                                $<$totallabelcost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row" valign="top">
                                                Packing/threads/etc
                                            </td>
                                            <td>
                                                $<$othercost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row" valign="top">
                                                Wastage (<$wastage$> %)
                                            </td>
                                            <td>
                                               $<$subwastage$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row" valign="top">
                                                Finance Cost (<$finance$> %)
                                            </td>
                                            <td>
                                                $<$subfinance$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row" valign="top">
                                                CM (<$smv$> mins x $ <$smvrate$>)
                                            </td>
                                            <td>
                                                $<$cm$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row" valign="top">
                                                Total FOB Cost
                                            </td>
                                            <td>
                                                $<$fobcost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row" valign="top">
                                                Quoted FOB
                                            </td>
                                            <td>
                                                $<$fobcostroundup$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top" width="60%">
                                    <table border="0" width="100%" style="font-size: 6px;">
                                        <tr>
                                            <td align="center" scope="row" style="font-size: 10px;">
                                                Remarks/ Notes
                                            </td>
                                        </tr>
                                        <$remarks$>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="line-height: 12px;">
                                    &nbsp;
                                </td>
                            </tr>
                           <$images$>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 12px;">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
