<table cellpadding="17" width="100%">
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" style="line-height: 15px; font-size: 10px;">
                            <tr>
                                <td align="left">
                                    <b><$type$></b>
                                </td>
                                <td align="right">
                                    <b>DESPATCH ON <$scheduleddate$></b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 2px;" cellpadding="1" cellspacing="0">
                        <table>
                            <tr>
                                <td width="50%">
                                    <table cellpadding="5" cellspacing="0" width="100%" border="0.5" style="font-size: 8px;">
                                        <tr>
                                            <td width="30%" style="line-height: 5px;">PRODUCT
                                            </td>
                                            <td width="70%" style="line-height: 5px;"><$product$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%" style="line-height: 8px;">PATTERN
                                            </td>
                                            <td width="70%" style="line-height: 8px;">
                                                <b><$Pattern$></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%" style="line-height: 8px;">FABRIC
                                            </td>
                                            <td width="70%" style="line-height: 8px;">
                                                <b><$fabric$></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%" style="line-height: 5px;">CLIENT
                                            </td>
                                            <td width="70%" style="line-height: 5px;"><$client$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%" style="line-height: 5px;">DISTRIBUTOR
                                            </td>
                                            <td width="70%" style="line-height: 5px;"><$distributor$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%" style="line-height: 5px;">COORDINATOR
                                            </td>
                                            <td width="70%" style="line-height: 5px;"><$coordinator$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%" style="line-height: 5px;">PRINT TYPE
                                            </td>
                                            <td width="70%" style="line-height: 5px;"><$printtype$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%" style="line-height: 5px;">PROFILE
                                            </td>
                                            <td width="70%" style="line-height: 5px;"><$profile$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%" style="line-height: 5px;">PRINTER
                                            </td>
                                            <td width="70%" style="line-height: 5px;"><$printer$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="30%" style="line-height: 5px;">PHOTO
                                            </td>
                                            <td width="70%" style="line-height: 5px;"><$photo$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top" width="50%">
                                    <table cellpadding="5" cellspacing="0" width="100%" border="0.5" style="font-size: 8px;">
                                        <tr>
                                            <td width="30%" style="line-height: 5px;">ADDRESS
                                            </td>
                                            <td width="80%" style="line-height: -5px;" valign="top">
                                                <table cellpadding="2" cellspacing="0" width="100%" border="0">
                                                    <tr>
                                                        <td style="line-height: 5px;"><$companyname$>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height: 5px;"><$address$>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height: 5px;"><$postalcode$>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height: 5px;"><$contact$>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%" style="line-height: 5px;">PORT
                                            </td>
                                            <td width="80%" style="line-height: 5px;"><$port$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%" style="line-height: 12px;">MODE
                                            </td>
                                            <td width="80%" style="line-height: 12px;"><$mode$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%" style="line-height: 12px;">TERMS
                                            </td>
                                            <td width="80%" style="line-height: 12px;"><$terms$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" border="0">
                <tr>
                    <td>
                        <br />
                    </td>
                </tr>
            </table>
            <table width="100%" cellpadding="5" cellspacing="0" border="0.5">
                <tr>
                    <th width="40%" style="line-height: 5px; font-size: 8px;">SEWN LABEL
                    </th>
                    <th width="60%" style="line-height: 5px; font-size: 8px;">SPECIAL INSTRUCTIONS
                    </th>
                </tr>
                <tr valign="top">
                    <td valign="top" width="40%" style="line-height: 5px;">
                        <table width="100%" border="0">
                            <tr>
                                <td style="line-height: 5px; font-size: 8px">
                                    <b><$labelname$></b>
                                </td>
                            </tr>
                            <tr>
                                <td style="line-height: 5px;"><$image$>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="60%" valign="top" style="line-height: 5px;"><$orderdetailmessageline1$>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" border="0">
                <tr>
                    <td>
                        <br />
                    </td>
                </tr>
            </table>
            <!-- <table width="100%" cellpadding="5" cellspacing="0">
                <tr>
                    <td>-->
            <$specification$>

                   <!-- </td>
                </tr>
            </table>-->
            <table cellpadding="0" border="0">
                <tr>
                    <td>
                        <br />
                    </td>
                </tr>
            </table>
            <table width="100%" cellpadding="2" cellspacing="0" border="0.5">
                <tr>
                    <td style="font-size: 8px">PRE.PRO NOTE & PRINTER OPERATOR NOTE :
            <p>
                <br />                
                <br />
            </p>
                    </td>
                    <td style="font-size: 8px">TEST PRINT COMMENT :
            <p>
                <br />                
                <br />
            </p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 8px">PRE PRODUCTION DESIGNER : 
                    </td>
                    <td style="font-size: 8px">TEST PRINT: [PRINTED BY] : 
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 8px">TEST PRINT APPROVED BY : 
                    </td>
                    <td style="font-size: 8px">BULK ORDER PRINTED BY : 
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 8px"><$systemdate$>
                    </td>
                    <td style="font-size: 8px">APPROVED BY : 
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="line-height: 10px;">&nbsp;</td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellpadding="10" cellspacing="0">
                <tr>
                    <td align="right"><$Vlimage$>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
