<table cellpadding="15">
    <tr>
        <td>
            <table cellpadding="0" style="font-size: 8px">
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="1" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td border="0" cellpadding="0" style="font-size: 10px;" colspan="3">
                                                <b>BILLING DETAILS</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td border="0" cellpadding="0" style="line-height: 2px;" colspan="3">&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#D3D3D3" width="132" valign="top">TOTAL ORDER QUANTITY
                                            </td>
                                            <td width="400" valign="top" style="text-align: right" colspan="2"><$totalorderquantity$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#D3D3D3" width="132" valign="top">ORDER VALUE
                                            </td>
                                            <td width="400" valign="top" style="text-align: right" colspan="2"><$totalvalue$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#D3D3D3" width="132" valign="top">DELIVERY CHARGES
                                            </td>
                                            <td width="400" valign="top" style="text-align: right" colspan="2"><$deliverycharges$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#D3D3D3" width="132" valign="top">ARTWORK CHARGES
                                            </td>
                                            <td width="400" valign="top" style="text-align: right" colspan="2"><$artworkcharges$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#D3D3D3" width="132" valign="top">OTHER CHARGES
                                            </td>
                                            <td width="350"><$description$></td>
                                            <td width="50" valign="top">
                                                <span style="float: right; text-align: right"><$othercharges$></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#D3D3D3" width="132" valign="top">TOTAL COST
                                            </td>
                                            <td width="400" valign="top" style="text-align: right" colspan="2"><$totalcost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#D3D3D3" width="132" valign="top">GST (10%)
                                            </td>
                                            <td width="400" valign="top" style="text-align: right" colspan="2"><$gst$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td bgcolor="#D3D3D3" width="132" valign="top">TOTAL INCLUDING GST
                                            </td>
                                            <td width="400" valign="top" style="text-align: right" colspan="2"><$totalindludinggst$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- <tr>
                    <td style="line-height: 12px;">&nbsp;
                    </td>
                </tr>-->
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="2" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td border="0" cellpadding="1" style="font-size: 8px; font-weight: bold" colspan="2">
                                                <span style="color: red">
                                                    <p>
                                                        PLEASE NOTE: THE MANUFACTURING LEAD TIME QUOTED IS DEPENDENT ON PROMPT APPROVAL OF THIS FORM. IF ART APPROVAL IS DELAYED A NEW DELIVERY DATE WILL BE ADVISED. CHANGES CANNOT BE MADE AFTER APPROVAL OF THIS FORM AND CANCELLATION FEES WILL APPLY FROM THIS POINT FORWARD. 
                                                    </p>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td border="0" cellpadding="1" style="font-size: 8px; font-weight: bold" colspan="2">
                                                <p>
                                                    <span style="color: red">PLEASE FORWARD PAYMENT IMMEDIATELY. PLEASE QUOTE REF:
                                                    </span><$factorymasterpo$>
                                                </p>
                                                <p>
                                                    <span style="color: red">PRODUCTION OF ORDER WILL COMMENCE ONCE PAYMENT HAS BEEN RECEIVED. GOODS WILL BE DESPATCHED ONCE BALANCE OF PAYMENT HAS BEEN RECEIVED.
                                                    </span>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td border="0" cellpadding="1" style="font-size: 8px; font-weight: bold" colspan="2">
                                                <span style="color: red">
                                                    <p>
                                                        I CERTIFY THAT THE ABOVE INFORMATION CONTAINED IN THIS ORDER OVERVIEW FORM IS TRUE AND CORRECT. IN ACCORDANCE WITH THE PRIVACY ACT (1988) I AUTHORISE ANY PERSON OR COMPANY TO GIVE INFORMATION AS MAY BE REQUIRED TO CREDIT INQUIRIES. I HAVE READ AND UNDERSTAND THE TERMS & CONDITIONS OF TRADE (ATTACHED) OF INDICO PTY LTD TRADING AS BLACKCHROME SPORTSWEAR WHICH FORM PART OF, AND ARE INTENDED TO BE READ IN CONJUNCTION WITH THIS ORDER OVERVIEW FORM AND AGREE TO BE BOUND BY THESE CONDITIONS.
                                                    </p>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- <tr>
                    <td style="line-height: 12px;">&nbsp;
                    </td>
                </tr>-->
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <!--<table border="0.5">
                                        <tr>
                                            <td width="50%" valign="top" rowspan="2">
                                                <span style="color: black">We accept VISA, MASTERCARD and AMEX credit cards (1.5% surcharge applies to card payments.
                                                <br />
                                                    Bank details: 
                                                    <br />
                                                    A/c Name: INDICO PTY LTD
                                                    <br />
                                                    BSB: 063 107                                                     
                                                    Account No: 1009 9467  <span style="text-align: left; background-color: rgba(109, 114, 114, 0.50); border:1px solid black; margin: 2px 2px 2px 2px;">REF: <$factorymasterpo$></span>
                                                </span>                                                
                                            </td>                                            
                                            <td width="50%">
                                                <span style="text-align: left; color: black">Date :</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%">
                                                <span style="text-align: left; color: black">Signed :</span>
                                            </td>
                                        </tr>                                        
                                        <tr>
                                            <td colspan="2" style="color: black">ORDER CREATED BY : <$createdBy$></td>
                                        </tr>
                                    </table>-->
                                    <table border="0.5">
                                        <tr>
                                            <td width="50%" valign="top">
                                                <span style="color: black">We accept VISA, MASTERCARD and AMEX credit cards (1.5% surcharge applies to card payments.
                                                <br />
                                                </span>
                                            </td>
                                            <td width="50%">
                                                <span style="text-align: left; color: black">Date :</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Bank details: 
                                                <br />
                                                A/c Name: INDICO PTY LTD<br />
                                                BSB: 063 107<br />
                                                Account No: 1009 9467 <b>REF: <$factorymasterpo$></b>                                              
                                            </td>
                                            <td>
                                                <span style="text-align: left; color: black">Signed :</span>
                                            </td>
                                        </tr>
                                       <!-- <tr>
                                            <td bgcolor="#D3D3D3"></td>
                                        </tr>-->
                                        <tr>
                                            <td colspan="2" style="color: black">ORDER CREATED BY : <$createdBy$></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
