<tr valign="middle" style="line-height: 8px;">
    <td>
        <table cellpadding="3" cellspacing="0">
            <tr align="left" valign="middle">
                <td valign="top">
                    <table border="0.5">
                        <tr>
                            <td bgcolor="#D3D3D3" width="132" valign="top">FACTORY SUB PO
                            </td>
                            <td width="133" valign="top"><$factorysubpo$>
                            </td>
                            <td rowspan="8" colspan="2" style="text-align: center"><$vlimage$></td>
                        </tr>
                        <tr>
                            <td bgcolor="#D3D3D3" width="133" valign="top">ORDER TYPE</td>
                            <td width="133" valign="top"><$ordertype$></td>
                        </tr>
                        <tr>
                            <td bgcolor="#D3D3D3" width="133" valign="top">PRODUCT NUMBER</td>
                            <td width="133" valign="top"><$productnumber$></td>
                        </tr>
                        <tr>
                            <td bgcolor="#D3D3D3" width="133" valign="top">BRANDING KIT</td>
                            <td width="133" valign="top"><$brandingkit$></td>
                        </tr>
                         <tr>
                            <td bgcolor="#D3D3D3" width="133" valign="top">LOCKER PATCH</td>
                            <td width="133" valign="top"><$lockerpatch$></td>
                        </tr>
                       <!-- <tr>
                            <td bgcolor="#D3D3D3" width="133" valign="top">EMBROIDERY</td>
                            <td width="133" valign="top"><$embroidery$></td>
                        </tr>-->
                         <tr>
                            <td bgcolor="#D3D3D3" width="133" valign="top">LABEL</td>
                            <td width="133" valign="top"><$label$></td>
                        </tr>
                        <tr>
                            <td bgcolor="#D3D3D3" width="133" valign="top">POCKETS</td>
                            <td width="133" valign="top"><$pockets$></td>
                        </tr>
                        <tr>
                            <td bgcolor="#D3D3D3" width="133" valign="top">NAMES AND NUMBERS</td>
                            <td width="133" valign="top"><$namesandnumbers$></td>
                        </tr>
                        <tr>
                            <td bgcolor="#D3D3D3" width="133" valign="top">ORDER DETAIL NOTES</td>
                            <td width="133" valign="top" colspan="4"><$notes$></td>
                        </tr>
                        <tr>
                            <td bgcolor="#D3D3D3" width="133" valign="top">PRICE COMMENTS</td>
                            <td width="133" valign="top" colspan="4"><$pricecomments$></td>
                        </tr>
                        <tr>
                            <td bgcolor="#D3D3D3" width="133" valign="top">PATTERN AND DESC</td>
                            <td width="133" valign="top" colspan="4"><$patterndesc$></td>
                        </tr>
                        <tr>
                            <td bgcolor="#D3D3D3" colspan="5" style="text-align: center">SIZE, QUANTITY AND VALUE</td>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                    <table border="0.5" cellpadding="2" cellspacing="1">
                        <tr>
                            <$qtyheader$>
                        </tr>
                        <tr>
                            <$qtyvalues$>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
