<tr>
    <td width="145" valign="top" style="width: 109.1pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt"
        colspan="3">
        <p style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal"
            class="MsoNormal">
            <span lang="EN-AU">VL Number</span>
        </p>
    </td>
    <td width="146" valign="top" style="width: 109.5pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt"
        colspan="3">
        <p style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal"
            class="MsoNormal">
            <span lang="EN-AU"><$VLNumber$></span>
        </p>
    </td>
    <td width="147" valign="top" style="width: 110.6pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt"
        colspan="3">
        <p style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal"
            class="MsoNormal">
            <span lang="EN-AU">Pocket</span>
        </p>
    </td>
    <td width="162" valign="top" style="width: 121.6pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt"
        colspan="3">
        <p style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal"
            class="MsoNormal">
            <span lang="EN-AU"><$Pocket$></span>
        </p>
    </td>
</tr>
<tr>
    <td width="145" valign="top" style="width: 109.1pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt"
        colspan="3">
        <p style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal"
            class="MsoNormal">
            <span lang="EN-AU">Garment</span>
        </p>
    </td>
    <td width="456" valign="top" style="width: 341.7pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt"
        colspan="9">
        <p style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal"
            class="MsoNormal">
            <span lang="EN-AU"><$Garment$></span>
        </p>
    </td>
</tr>
<tr>
    <td width="145" valign="top" style="width: 109.1pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt"
        colspan="3">
        <p style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal"
            class="MsoNormal">
            <span lang="EN-AU">Fabric</span>
        </p>
    </td>
    <td width="456" valign="top" style="width: 341.7pt; border-top: none; border-left: none; border-bottom: solid windowtext 1.0pt; border-right: solid windowtext 1.0pt; padding: 0in 5.4pt 0in 5.4pt"
        colspan="9">
        <p style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal"
            class="MsoNormal">
            <span lang="EN-AU"><$Fabric$></span>
        </p>
    </td>
</tr>
<tr>
    <$OrderDetailQTYHeader$>
</tr>
<tr>
    <$OrderDetailQTYValues$>
</tr>
<tr>
    <td width="601" valign="top" style="width: 450.8pt; border-top: none; padding: 0in 5.4pt 0in 5.4pt"
        colspan="12">
        <p style="margin-bottom: 0in; margin-bottom: .0001pt; line-height: normal"
            class="MsoNormal">
            <span lang="EN-AU">&nbsp;</span>
        </p>
    </td>
</tr>
