<table cellpadding="17">
    <tr>
        <td>
            <table cellpadding="0" style="font-size: 8px">
                <tr>
                    <td style="line-height: 48px;">&nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td><$tabledata$>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 20px;">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellpadding="3">
                            <tr>
                                <td width="25%">
                                    <table border="0.5" cellpadding="2" style="font-size: 8px">
                                        <tr>
                                            <td>
                                                <table cellpadding="2" style="font-size: 8px">
                                                    <tr>
                                                        <td border="0" valign="top">
                                                            <h5><b>Total PCS : </b></h5>
                                                        </td>
                                                        <td border="0" valign="top">
                                                            <h5><b><$totalpcs$> pcs</b></h5>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td border="0" valign="top">
                                                            <h5><b>Total CTN : </b></h5>
                                                        </td>
                                                        <td border="0" valign="top">
                                                            <h5><b><$totalctn$> ctn</b></h5>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="75%">
                                    <table cellpadding="2" style="font-size: 8px">
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
