<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configuration Section -->
  <configSections>
    <section name="enterpriselibrary.configurationSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="exceptionManagement" type="Microsoft.ApplicationBlocks.ExceptionManagement.ExceptionManagerSectionHandler, Indico" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- / -->
  <!-- App Settings -->
  <appSettings>
    <add key="HttpPostURL" value="http://local-bcsportswear.com/Listener.aspx" />
    <add key="HttpPostGuid" value="0b186383-e0c9-45f6-80c5-7dab57389a0b" />
    <add key="Environment" value="dev" />
    <add key="DevelopmentUser" value="0" />
    <add key="IsDebugMode" value="false" />
    <add key="IsMaintenanceMode" value="false" />
    <add key="IsSendEmails" value="true" />
    <add key="MailServer" value="localhost" />
    <add key="UseGmailServer" value="true" />
    <add key="GmailServer" value="smtp.gmail.com" />
    <add key="GmailUserName" value="bourketechnologies@gmail.com" />
    <add key="GmailPassword" value="de7eloPer" />
    <add key="SystemEmailFromAddress" value="webadmin@Indico.com" />
    <add key="SystemEmailFromName" value="Indico Admin" />
    <add key="HelpDeskEmailAddress" value="webadmin@Indico.com" />
    <add key="IsErrorLogging" value="false" />
    <add key="IsShowErrorPage" value="false" />
    <add key="ErrorURL" value="/Error.aspx" />
    <add key="MaintenanceURL" value="/maintenance.html" />
    <add key="UnauthorisedURL" value="/unauthorised.html" />
    <add key="UnexpectedErrorMessage" value="Indico had a problem with your last action. Please try again." />
    <add key="AssembyFolderName" value="Assemblies" />
    <add key="DataFolderName" value="IndicoData" />
    <add key="ImageFolderName" value="IndicoAssets" />
    <add key="PathToProjectFolder" value="C:\Projects\Indico" />
    <add key="DefaultLocale" value="en-AU" />
    <add key="DirectoryCodeMaxValue" value="100" />
    <add key="ReleaseDateTime" value="2011-09-09, 02:00 PM" />
    <add key="SiteHostAddress" value="indico" />
    <add key="DNSServername" value="" />
    <add key="DNSUsername" value="" />
    <add key="DNSPassword" value="" />
    <add key="DomainName" value="" />
    <add key="IISSiteName" value="" />
    <add key="MyObCompanyFile" value="Indico Manufacturing Pty Ltd" />
    <add key="MyoBDeveloperKey" value="a5zjfk9qn279fb5ke96m2j7c" />
    <add key="MyoBDeveloperSecretKey" value="dh3WMkh5TpGMwQeuktEPDnST" />
    <add key="MyobItemCostOfSaleAccounNumber" value="5025" />    <!--Valid Number = 5015-->
    <add key="MyobItemIncomeAccountNumber" value="1070" />    <!--Valid Number = 5012-->
    <add key="MyobItemAssetAccountNumber" value="5030" />    <!--Valid Number= 5015-->
    <add key="MyobOAuthUrl" value="https://secure.myob.com/oauth2/v1/authorize"/>
    <add key="MyobClientId" value="AccountRight"/>
    <add key="MyobClientSecret" value="KtBYHjZHlPi2NOXH6Gl0"/>
    <add key="MyobScope" value="CompanyFile mydot.assets.read mydot.applications.write"/>
    <add key="MyobUsername" value="prakashs@blackchrome.com.au"/>
    <add key="MyobPassword" value="Prk95h12#"/>
  </appSettings>
  <!-- / -->
  <!-- Connection String -->
  <connectionStrings>
    <add name="IndicoEntities" connectionString="metadata=res://*/IndicoBusinessObjects.Model.IndicoModel.csdl|res://*/IndicoBusinessObjects.Model.IndicoModel.ssdl|res://*/IndicoBusinessObjects.Model.IndicoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SIMBA\SQLEXPRESS;Initial Catalog=Indico;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=600&quot;" providerName="System.Data.EntityClient" />
    <add name="IndicoEntities1" connectionString="metadata=res://*/Model.IndicoModel1.csdl|res://*/Model.IndicoModel1.ssdl|res://*/Model.IndicoModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SIMBA\SQLEXPRESS;initial catalog=Indico;integrated security=True;multipleactiveresultsets=True;connect timeout=600;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=SIMBA\SQLEXPRESS;initial catalog=Indico;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- / -->
  <!-- Enterprice Library configurations -->
  <enterpriselibrary.configurationSettings defaultSection="" applicationName="Application" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection name="cachingConfiguration" encrypt="false">
        <storageProvider xsi:type="XmlFileStorageProviderData" name="XML File Storage Provider" path="cachingConfiguration.config" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true" />
  </enterpriselibrary.configurationSettings>
  <!-- / -->
  <!-- Exception Management configurations -->
  <exceptionManagement>
    <!-- Settings for the Exception publisher. 
       
       eventLogName is the Event Log to log to, and create if it doesn't exist. NOTE: the
       user running the aspnet_wp must have permission to read and write to the event log
       for log entries to be written there. Otherwise you risk a very, very slow application.
       
       operatorMail is a comma separated list of email addresses of people who receive 
       application failure notifications 
       
       logToDb if true will cause the application to log all exceptions to the TBL_ERROR_INSTANCE
       table in the database
       
       logToEmail if true will send details of application fatal exceptions to the list of operators
       in operatorMail
       
       logToEventLog if true will cause the application to log session and application fatal exceptions to 
       the event log specified in eventLogName.  NOTE: the user running the aspnet_wp must have permission 
       to read and write to the event log for log entries to be written there. Otherwise you risk a 
       very, very slow application.
    -->
    <publisher mode="on" assembly="Indico" type="Indico.Common.IndicoExceptionPublisher" applicationName="Indico" eventLogName="Indico_Exception" operatorMail="siwanka@gmail.com" logToDb="true" logToEmail="true" logToEventLog="true" />
  </exceptionManagement>
  <!-- / -->
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <!-- Define some output appenders -->
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="dev@bourketechnologies.com" />
      <from value="dev@bourketechnologies.com" />
      <subject value="Error / Warning Log message from your machine" />
      <smtpHost value="localhost" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="OFF" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-8.8thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="DebugRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Projects\Indico\IndicoData\log\debug\debug.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Composite" />
      <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="DEBUG" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Started Indico DEBUG Log]&#xA;" />
        <footer value="[Closed Indico DEBUG Log]&#xA;" />
        <conversionPattern value="%date [%-8.8thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Projects\Indico\IndicoData\log\info\info.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Composite" />
      <threshold value="INFO" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Started Indico INFO Log]&#xA;" />
        <footer value="[Closed Indico INFO Log]&#xA;" />
        <conversionPattern value="%date [%-8.8thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="WarnRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Projects\Indico\IndicoData\log\warn\warn.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Composite" />
      <threshold value="WARN" />
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Started Indico WARN Log]&#xA;" />
        <footer value="[Closed Indico WARN Log]&#xA;" />
        <conversionPattern value="%date [%-8.8thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Projects\Indico\IndicoData\log\error\error.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Composite" />
      <threshold value="ERROR" />
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Started Indico ERROR Log]&#xA;" />
        <footer value="[Closed Indico ERROR Log]&#xA;" />
        <conversionPattern value="%date [%-8.8thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="FatalRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Projects\Indico\IndicoData\log\fatal\fatal.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Composite" />
      <threshold value="FATAL" />
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Started Indico FATAL Log]&#xA;" />
        <footer value="[Closed Indico FATAL Log]&#xA;" />
        <conversionPattern value="%date [%-8.8thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL" />
      <appender-ref ref="SmtpAppender" />
      <appender-ref ref="DebugRollingFileAppender" />
      <appender-ref ref="InfoRollingFileAppender" />
      <appender-ref ref="WarnRollingFileAppender" />
      <appender-ref ref="ErrorRollingFileAppender" />
      <appender-ref ref="FatalRollingFileAppender" />
    </root>
  </log4net>
  <!-- / -->
  <!-- System.Web Section -->
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime enable="true" requestValidationMode="2.0" maxRequestLength="41060" executionTimeout="240" />
    <authentication mode="Forms" />
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.RadUploadProgressHandler" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <httpModules />
  </system.web>
  <!-- / -->
  <!-- System.WebServer configurations -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    <urlCompression doStaticCompression="true" />
    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      <!-- use utf-8 encoding for anything served text/plain or text/html -->
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".rss" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
      <!-- HTML5 Audio/Video mime types-->
      <remove fileExtension=".mp3" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
      <remove fileExtension=".ogv" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <!-- Proper svg serving. Required for svg webfonts on iPad -->
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <!-- HTML4 Web font mime types -->
      <!-- Remove default IIS mime type for .eot which is application/octet-stream -->
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".crx" />
      <mimeMap fileExtension=".crx" mimeType="application/x-chrome-extension" />
      <remove fileExtension=".xpi" />
      <mimeMap fileExtension=".xpi" mimeType="application/x-xpinstall" />
      <remove fileExtension=".safariextz" />
      <mimeMap fileExtension=".safariextz" mimeType="application/octet-stream" />
      <!-- Flash Video mime types-->
      <remove fileExtension=".flv" />
      <mimeMap fileExtension=".flv" mimeType="video/x-flv" />
      <remove fileExtension=".f4v" />
      <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <!-- 
          http://hacks.mozilla.org/2009/07/cross-site-xmlhttprequest-with-cors/
          Uncomment to serve cross-domain ajax requests
          <add name="Access-Control-Allow-Origin" value="*" />
        -->
        <!-- 
          Force the latest IE version, in various cases when it may fall back to IE7 mode
           github.com/rails/rails/commit/123eb25#commitcomment-118920
          Use ChromeFrame if it's installed for a better experience for the poor IE folk 
        -->
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
        <!-- 
          Allow cookies to be set from iframes (for IE only)
          If needed, uncomment and specify a path or regex in the Location directive 

          <add name="P3P" value="policyref=&quot;/w3c/p3p.xml&quot;, CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;" />
        -->
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="42045440" />
      </requestFiltering>
    </security>
    <!-- 
        Remove the WWW from the URL.  
        Requires IIS Rewrite module http://learn.iis.net/page.aspx/460/using-the-url-rewrite-module/ 
        Configuration lifted from http://nayyeri.net/remove-www-prefix-from-urls-with-url-rewrite-module-for-iis-7-0
          
        ** Important Note 
        using a non-www version of a webpage will set cookies for the whole domain making cookieless domains 
        (eg. fast cdn-like access of static resources like css, js and images) impossible.           
        <rewrite>
          <rules>
            <rule name="Remove WWW" stopProcessing="true">
            <match url="^(.*)$" />
            <conditions>
              <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
            </conditions>
            <action type="Redirect" url="http://nayyeri.net{PATH_INFO}" redirectType="Permanent" />
            </rule>
          </rules>
        </rewrite>
      -->
  </system.webServer>
  <!-- / -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>