<table>
    <tr>
        <td><$headerimage$>
        </td>
    </tr>
</table>
<table cellpadding="17">
    <tr>
        <td>
            <table cellpadding="0" style="font-size: 8px">
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td border="0" cellpadding="0" style="font-size: 10px;" colspan="2">
                                                <b>ORDER OVERVIEW FORM</b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 5px;">&nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td valign="top">Date
                                            </td>
                                            <td><$orderdate$></td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td valign="top">Your PO/ Ref. Number
                                            </td>
                                            <td><$distributororderno$></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- <tr valign="middle" style="line-height: 15px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr>
                                <td>
                                    <h4>BILLING AND DELIVERY INFORMATION</h4>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>-->
                <tr valign="middle" style="line-height: 9px;">
                    <td style="font-size: 10px;">
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <b>BILL TO</b>
                                </td>
                                <td valign="top">
                                    <b>SHIP TO</b>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td align="left" scope="row" valign="top">Conpany
                                            </td>
                                            <td><$distributorcompanyname$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Address
                                            </td>
                                            <td><$distributoraddress$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Suburb
                                            </td>
                                            <td><$distributorsuberb$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">State
                                            </td>
                                            <td><$distributorstate$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Contact Phone
                                            </td>
                                            <td><$distributorphone$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Fax
                                            </td>
                                            <td><$distributorfax$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Client/Job Name
                                            </td>
                                            <td><$client$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td align="left" scope="row" valign="top">Company
                                            </td>
                                            <td><$shiptocompanyname$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Type
                                            </td>
                                            <td><$shiptoaddresstype$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Address
                                            </td>
                                            <td><$shiptoaddress$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Suburb
                                            </td>
                                            <td><$shiptouburb$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">State
                                            </td>
                                            <td><$shiptostate$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Country
                                            </td>
                                            <td><$shiptocountry$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Contact
                                            </td>
                                            <td><$shiptocontact$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" scope="row">Contact Phone
                                            </td>
                                            <td><$shiptophone$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 12px;">&nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td valign="top">Factory PO
                                            </td>
                                            <td style="font-weight: bold;" width="400" valign="top"><$factorymasterpo$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td align="left" scope="row">Date Required
                                            </td>
                                            <td><$daterequire$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 12px;">&nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td border="0" cellpadding="0" style="font-size: 10px;" colspan="2">
                                                <b>GENERAL DETAILS</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td border="0" cellpadding="0" style="line-height: 2px;" colspan="2">&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">Use Branding Kit
                                            </td>
                                            <td width="400" valign="top"><$usebrandingkit$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">Is Delivery Date Non-Negotiable
                                            </td>
                                            <td width="400" valign="top"><$datenegotiable$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">Shipment Mode
                                            </td>
                                            <td width="400" valign="top"><$shipmentmode$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">Order Notes
                                            </td>
                                            <td width="400" valign="top"><$ordernotes$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 12px;">&nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td border="0" cellpadding="0" style="font-size: 10px;" colspan="2">
                                                <b>ORDER DETAILS</b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <$orderdetails$>
                <tr>
                    <td style="line-height: 12px;">&nbsp;
                    </td>
                </tr>
                <!-- <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td border="0" cellpadding="0" style="font-size: 10px;" colspan="2">
                                                <b>DESPATCH INSTRUCTIONS FROM FACTORY</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td border="0" cellpadding="0" style="line-height: 2px;" colspan="2">&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">ETD COLOMBO
                                            </td>
                                            <td width="400" valign="top"><$etd$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">DESPATCH TO
                                            </td>
                                            <td width="400" valign="top"><$despatchto$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">MODE
                                            </td>
                                            <td width="400" valign="top"><$mode$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>-->
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td border="0" cellpadding="0" style="font-size: 10px;" colspan="2">
                                                <b>BILLING DETAILS</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td border="0" cellpadding="0" style="line-height: 2px;" colspan="2">&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">Order Value
                                            </td>
                                            <td width="400" valign="top" style="text-align: right"><$totalvalue$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">Delivery Charges
                                            </td>
                                            <td width="400" valign="top" style="text-align: right"><$deliverycharges$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">ArtWork Charges
                                            </td>
                                            <td width="400" valign="top" style="text-align: right"><$artworkcharges$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">Other Charges
                                            </td>
                                            <td width="400" valign="top" style="text-align: right"><$othercharges$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">Description
                                            </td>
                                            <td width="400" valign="top"><$description$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">Total cost
                                            </td>
                                            <td width="400" valign="top" style="text-align: right"><$totalcost$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">GST (10%)
                                            </td>
                                            <td width="400" valign="top" style="text-align: right"><$gst$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">Total including GST
                                            </td>
                                            <td width="400" valign="top" style="text-align: right"><$totalindludinggst$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 12px;">&nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td border="0" cellpadding="0" style="font-size: 10px;" colspan="2">
                                                <span style="color: red">Please note: The manufacturing lead time quoted is dependent on prompt approval of this form. If art approval is delayed a new delivery date will be advised.  Changes cannot be made after approval of this form.  Cancellation fees will apply from this point forward.<br />
                                                    Please forward a 50% deposit immediately.  Production of order will commence once payment has been received. Goods will be despatch once balance of payment has been received.
                                                    <br />
                                                    This order is no a legally binding contact and Indico Pty Ltd holds a bill of sale over any unpaid goods. The client accepts and acknowledges all terms and conditions of sale.  Terms and conditions on next page.
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 12px;">&nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td width="50%" valign="top">
                                                <span>We accept VISA, MASTERCARD and AMEX credit cards (1.5% surcharge applies to card payments.
                                                    Bank details: 
                                                    <br />
                                                    A/c Name: INDICO PTY LTD
                                                    <br />
                                                    BSB: 063 107 
                                                    <br />
                                                    Account No: 1009 9467
                                                </span>
                                            </td>
                                            <td width="50%" valign="top">Signed
                                                <br />
                                                Date
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!--<tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table cellpadding="3" cellspacing="0">
                            <tr align="left" valign="middle">
                                <td valign="top">
                                    <table border="0.5">
                                        <tr>
                                            <td border="0" cellpadding="0" style="line-height: 2px;" colspan="2">&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">TOTAL QTY
                                            </td>
                                            <td width="400" valign="top"><$totalqty$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="132" valign="top">TOTAL VALUE
                                            </td>
                                            <td width="400" valign="top">$<$totalvalue$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>-->
            </table>
        </td>
    </tr>
</table>
